.hero_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0 96px;
}
.hero_texts h3 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  color: #1d3444;
}
.hero_texts p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #5b5b5b;
  padding: 12px 0 32px;
}
.hero_texts h4 {
  font-size: 18px;
  font-weight: 400;
  color: #39414980;
  padding: 56px 0 18px;
}
.btn {
  color: #1d3444 !important;
  background: inherit;
}
.hero_icons {
  display: flex;
  align-items: center;
  gap: 32px;
}
