.blog_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0 96px;
}
.blog {
  padding-top: 96px;
  background: #dceaf5;
}
.blog_card {
  border-radius: 20px;
  background: #fff;
}
.blog_card img {
  width: 100%;
}
.blog_texts {
  padding: 32px;
}
.blog_texts h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #0d1317;
  width: 340px;
}
.blog_texts p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
  width: 330px;
  padding: 16px 0 24px;
}
.blog_texts button {
  color: #f58a07 !important;
  background: #fff;
  display: flex;
  font-weight: 500 !important;
  align-items: center;
  gap: 8px;
  padding: 0 !important;
}
.blog_texts button img {
  width: 22px;
}
.blog_contents h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #0d1317;
}
